body {	
	background:#000000;
	color:#fff;
}
.titulo texto{
	text-align: center;
}
.titulo h1{
	color:red;
	font-size: 150%;
	text-align: center;
}
.titulo h2{
	font-size: 100%;
	text-align: center;
}

.proximamente {
	background-color: red;
	display: flex;
	width: 50%;
	height: 10%;
	color: lightblue;
	font-size: 400%;
	line-height: 130%;
	font-style: oblique;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	overflow: hidden;
}
.proximamente ul{
	list-style: none;
	padding-left: 10%;
	animation: cambiar 3s infinite;
}
.proximamente ul,p{
	margin: 0;
}

@keyframes cambiar {
	0%{margin-top: -2%;}
	50%{margin-top: -2%;}
	51%{margin-top: -15%;}
	100%{margin-top: -15%;}
}

.sociales{
	text-align: center;
	padding-top: 3%;
	padding-bottom: 5%;
	box-sizing: border-box;
}
.sociales li{
	display: inline-block;
}
.sociales a{
	box-sizing: border-box;
}

.bienvenida{
	text-align: center;
	padding-top: 8%;
	padding-bottom: 0%;
	box-sizing: border-box;
}

.fotosTitulo{
	padding-top: 1%;
	padding-bottom: 0%;
	color: white;
	text-shadow: 1% 2% 2% black,0 0 25% blue,0 0 5% blue;
	text-align: center;
}

@keyframes slide {
	0% { transform: translateX(0); }
	11% { transform: translateX(0); }

	12% { transform: translateX(-110%); }
	23% { transform: translateX(-110%); }

	24% { transform: translateX(-210%); }
	35% { transform: translateX(-210%); }

	36% { transform: translateX(-310%); }
	47% { transform: translateX(-310%); }

	48% { transform: translateX(-410%); }
	59% { transform: translateX(-410%); }

	60% { transform: translateX(-510%); }
	66% { transform: translateX(-510%); }
	
	67% { transform: translateX(-610%); }
	75% { transform: translateX(-610%); }
	
	76% { transform: translateX(-710%); }
	84% { transform: translateX(-710%); }
	
	85% { transform: translateX(-810%); }
	92% { transform: translateX(-810%); }
		
	93% { transform: translateX(-910%); }
	100% { transform: translateX(-910%); }
}

* { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body {
	font-family: sans-serif;
}

.wrapper {
	max-width: 100%;
	margin: 0 auto;
}

.slider {
	position: relative;
	height: 100%;
}

.slides {
	position: relative;
	display: flex;
	overflow: hidden;
}

.slide {
	width: auto;
	height: auto;
	flex-shrink: 0;
	animation-name: slide;
	animation-duration: 35s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.slides:hover .slide {
	animation-play-state: paused;
}

.slide img {
	width: 100%;
	vertical-align: top;
}

.slide a {
	width: 100%;
	display: inline-block;
	position: relative;
}

.caption {
	color: white;
	text-shadow: 1px 1px black;
	font-size: 8vw;
	position: absolute;
	bottom: 8vw;
	right: 4vw;
}

.slide:target {
	animation-name: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
}

.slider-controler {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding: 5px;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
}

.slider-controler li {
	margin: 0 0.5rem;
	display: inline-block;
	vertical-align: top;
}

.slider-controler a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}

@media only screen and (min-width: 1200px) {
	.slide {
		width: 1200px;
	}

	.caption {
		font-size: 96px;
		bottom: 96px;
		right: 50px;
	}
}

.titulo_diplomas{
	padding-top: 1%;
	padding-bottom: 0%;
	color: white;
	text-shadow: 1% 2% 2% black,0 0 25% blue,0 0 5% blue;
	text-align: center;
}

p.diplomas{
	text-align: center;
}

.titulo_mentores{
	padding-top: 1%;
	padding-bottom: 0%;
	color: white;
	text-shadow: 1% 2% 2% black,0 0 25% blue,0 0 5% blue;
	text-align: center;
}

p.mentores{
	text-align: center;
}
p.texto_mentores{
	text-align: center;
	color:blue;
}
.contenedor{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}
